In [49]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [50]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 3C57-EE5E

 Directory of C:\Users\vinay\Documents

10-06-2022  22:57    <DIR>          .
10-06-2022  04:26    <DIR>          ..
10-06-2022  21:41    <DIR>          .ipynb_checkpoints
31-05-2022  22:14             2,438 50_Startups.csv
05-05-2022  22:41             1,325 Assignment 2 Set 2 Q 2 - B.ipynb
07-05-2022  14:32             1,189 Assignment 2 Set 2 Q4.ipynb
07-05-2022  14:34               588 Assignment 2 Set 2 Q5 .ipynb
10-05-2022  22:54             2,678 Assignment 2 set 4 Q 3.ipynb
10-05-2022  22:54             1,934 Assignment 2 Set 4 Question 5.ipynb
02-05-2022  21:21             5,893 Assignment 2-set1Q1.ipynb
26-05-2022  22:03            40,552 Assignment 4 Q 1.ipynb
26-05-2022  22:15            25,765 Assignment 4 Q 2.ipynb
01-06-2022  22:32           525,316 Assignment 5 50_Startups.ipynb
06-06-2022  22:22         1,712,267 Assignment 5 Q 2 Toyotacorolla.ipynb
10-06-2022  22:57            24,982 Assignment 6.ipynb
10-06-2022  22:16         4,610,348 bank-full.csv
24-05-2022  21:36               218 delivery_time.csv
31-05-2022  22:05           509,053 Multi Linear Regression.ipynb
02-05-2022  22:15               962 Q7.csv
02-05-2022  14:36            50,442 Q7.ipynb
02-05-2022  14:18            19,866 Q9 and Q12.ipynb
24-04-2022  14:05               502 Q9_a.csv
02-05-2022  13:59             2,420 Q9_b.csv
24-05-2022  21:36               454 Salary_Data.csv
26-05-2022  22:13           224,041 ToyotaCorolla.csv
03-02-2022  08:06                 0 untitled.txt
              23 File(s)      7,763,233 bytes
               3 Dir(s)  78,560,034,816 bytes free

In [51]:
df=pd.read_csv("bank-full.csv", sep = ';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [52]:
df.shape

(45211, 17)

In [53]:
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [54]:
columns = ['age', 'balance', 'duration', 'campaign', 'y']
df_sel=df[columns]
df_sel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       45211 non-null  int64
 1   balance   45211 non-null  int64
 2   duration  45211 non-null  int64
 3   campaign  45211 non-null  int64
 4   y         45211 non-null  object
dtypes: int64(4), object(1)
memory usage: 1.7+ MB

In [55]:
df_sel.isna().sum()

age         0
balance     0
duration    0
campaign    0
y           0
dtype: int64

In [69]:
X=df_sel.iloc[:,0:4]
Y=df_sel.iloc[:,4]

In [70]:
X

       age  balance  duration  campaign
0       58     2143       261         1
1       44       29       151         1
2       33        2        76         1
3       47     1506        92         1
4       33        1       198         1
...    ...      ...       ...       ...
45206   51      825       977         3
45207   71     1729       456         2
45208   72     5715      1127         5
45209   57      668       508         4
45210   37     2971       361         2

[45211 rows x 4 columns]

In [71]:
Y

0         no
1         no
2         no
3         no
4         no
        ...
45206    yes
45207    yes
45208    yes
45209     no
45210     no
Name: y, Length: 45211, dtype: object

In [73]:
classifier = LogisticRegression()

In [74]:
classifier.fit(X,Y)

LogisticRegression()

In [75]:
classifier.intercept_

array([-3.24652357])

In [76]:
classifier.coef_

array([[ 7.69721807e-03,  3.72191058e-05,  3.54908906e-03,
        -1.39828316e-01]])

In [79]:
y_pred = classifier.predict(X)

In [80]:
y_pred

array(['no', 'no', 'no', ..., 'yes', 'no', 'no'], dtype=object)

In [89]:
from sklearn.metrics import confusion_matrix

In [90]:
y_pred_df= pd.DataFrame({'actual': Y,
                         'predicted_values': classifier.predict(X)})

In [91]:
y_pred_df

      actual predicted_values
0         no               no
1         no               no
2         no               no
3         no               no
4         no               no
...      ...              ...
45206    yes              yes
45207    yes               no
45208    yes              yes
45209     no               no
45210     no               no

[45211 rows x 2 columns]

In [94]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score as ac

In [95]:
confusion_matrix = confusion_matrix(Y,y_pred)

In [96]:
print (confusion_matrix)

[[39342   580]
 [ 4435   854]]

In [97]:
ac(Y,y_pred)

0.8890756674260689

In [98]:
from sklearn.metrics import classification_report
print(classification_report(Y,y_pred))

              precision    recall  f1-score   support

          no       0.90      0.99      0.94     39922
         yes       0.60      0.16      0.25      5289

    accuracy                           0.89     45211
   macro avg       0.75      0.57      0.60     45211
weighted avg       0.86      0.89      0.86     45211